<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap" rel="stylesheet"> 
		<title>Express Forms</title>
		<link rel="stylesheet" href="/public/styles.css">
	</head>
	<body>
	 <div class="flex-container">
			 <h1>Hello, unknown user</h1>
			 <form action="/name" method="post">
			  <label>First Name </label>
			  <input class = "txt" type="text" name="first" value="Saadman"><br>
			  <label>Last Name </label>
			  <input class = "txt" type="text" name="last" value="Sakib"><br><br>
			  <label>Email</label>
			  <input type="text" class="txt" name="email"><br><br>
			  <input class = "btn" type="submit" value="Submit">
			</form>
	 </div>
	</body>

</html>
