*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.card{
    position: relative;
    min-width: 17vw;
    padding: 1rem;
}

.card-details{
    padding: 0 0 1rem 1rem;
}

.card-img{
    width: 100%;
    border-radius: 1.5rem;
}

.rating-flex{
    display: flex;
    margin: 0;
}

.star-logo{
    width: 1.5rem;
    object-fit: contain;
    margin: 0rem 0.3rem;
}

.rating{
    font-size: 1.5rem;
}

.text-light{
    font-weight: 100;
    color: rgb(124, 124, 124);
}

.description{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
}

.badge{
    font-size: 1.2rem;
    font-weight: 600;
    top: 1.8rem;
    left: 1.8rem;
    position: absolute;
    border-radius: 0.5rem;
    background: rgb(255,244,255);
    color: rgb(27,27,27);
    padding: 0.5rem;
}