:root{
    font-size: 10px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.cards-layout{
    margin-left: 5rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-shrink: 0;
}

.navbar{

    height: 7rem;
    display: flex;
    padding: 1.5rem 3rem;
    box-shadow: 0rem 0.18rem 0.75rem 0rem hsla(0, 0%, 0%, 0.1);

}

.logo{
    height: 100%;
}

@media(max-width:600px){
    :root{
        font-size: 5px;
    }
}