*,
*::after,
*::before{
  box-sizing: border-box;
}
:root{
  font-size: 10px;
}

body {
    background-color: rgb(27,27,27);
    color: #ddd;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }
  
  .flex-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  label{
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
  }

  .txt{
    font-family: 'Rubik', sans-serif;
    border: 0;
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    color: aliceblue;
    background-color: rgba(195, 238, 238, 0.151);
    border-radius: 1rem;
  }

  h1 {
    font-size: 4em;
  }
  
  input[type=text], label {
    margin-bottom: 8px;
  }

  .btn{
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    background-color: rgba(250, 96, 7, 0.993);
    color: rgba(5, 5, 5, 0.829);
    border: none;
    border-radius: 1.3rem;
    transition: 0.5s;
  }

  .btn:hover{
    transform: scale(1.1);
  }
