*{
  box-sizing: border-box;
}

body{
  background-color: rgb(27,27,27);
  color: white;
  font-family: 'Varela Round', sans-serif;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100rem;
  max-width: 500px;
}

h2{
  text-align: center;
}

.btns{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.btn{
  border: none;
  width: 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.increase{
  background-color: lightgreen;
  color: rgb(27,27,27);
}

.decrease{
  background-color: salmon;
  color: rgb(27,27,27);
}

.reset{
  width: 5rem;
  background-color: rgb(252, 199, 101);
}